body {
	background-color: #e6e6e6;
	background-size: auto;
}


.locationShow{
	width: 100%;
	height: 100%;

}

.locationShowTop{
	text-align: center;
	margin-bottom: 50px;
}

#locationShowAbout{
	font-family: system-ui;
	font-weight: lighter;
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 20px;
}

#locAbtSearchBar{
	border: solid;
	border-width: thin;
	border-color: #b00b0b;
	border-radius: 5px;
	position: relative;
	height: 36px;
	width: 15%;
	outline: none;
	margin-right: 7px;
	font-family: system-ui;
}

#restAbtSearchBar{
	border: solid;
	border-width: thin;
	border-color: #b00b0b;
	border-radius: 5px;
	position: relative;
	height: 36px;
	width: 30%;
	outline: none;
	margin-right: 7px;
	font-family: system-ui;
}

#prefsCheck{
	border: solid;
	border-width: thin;
	border-color: #b00b0b;
	border-radius: 5px;
	position: relative;
	height: 40px;
	width: 10%;
	outline: none;
	margin-right: 7px;
	font-family: system-ui;
}

#locAbtSearchBTN{
	background: #b00b0b;
	border: none;
	border-radius: 5px;
	position: relative;
	width: 85px;
	height: 40px;
	color: white;
	font-weight: normal;
	outline: none;
	font-family: system-ui;
}

#locAbtSearchBTN:active {
  background: #4a0101;
  color: white;
}

.locRestList{
	width: 60%;
	margin: 0 auto;
	font-family: system-ui;
}

.locRestCard{
	background-color: white;
	position: relative;
	border-radius: 5px;
	border: solid;
	border-width: thin;
	width: 100%;
	padding: 3px;
	margin-top: 30px;
}

.topRightDir{
	position: absolute; 
	top: 0; 
	right: 0;
	padding: 3px;
	text-decoration: none;
}

.restNameList{
	color: #b00b0b;
	font-weight: bold;
}

.locRestCardImg{
	float: left;
	width: auto;
	height: 106px;
	margin-right: 5px;
}

.addMeal{
	color: blue;
	text-decoration: underline;
}

.addMeal:active{
	color: purple;
	text-decoration: underline;
}


@media only screen and (max-width: 585px){

	.locRestList{
		width: 95%;
		margin: 0 auto;
		font-family: system-ui;
		font-size: small;
	}
	.abtSearchBar{
		text-align: center;
	}
	#locAbtSearchBar{
		width: 60%;
		margin: auto;
		margin-bottom: 10px;
		display: inline-block;
	}

	#restAbtSearchBar{
		margin: auto;
		height: 36px;
		width: 60%;
	}

	#prefsCheck{
		margin: auto;
		margin-top: 10px;
		height: 40px;
		width: 40%;
		display: block;
	}

	#locAbtSearchBTN{
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 10px;
	}

	#locAbtSearchBTN:active {
	  background: #4a0101;
	  color: white;
	}

	.locRestCardImg{
		float: left;
		width: auto;
		height: 88px;
		margin-right: 5px;
	}
}