.preferencesPage{
    font-family: system-ui;
    text-align: center;
}
.prefTitle{
    font-weight: normal;
}

.prices{
    position: absolute;
    left: -100vw;
}

#p1:checked ~ #oneDollar{
    background-color:#4a0101;;
}
#p2:checked ~ #twoDollar{
    background-color:#4a0101;;
}

#p3:checked ~ #threeDollar{
    background-color:#4a0101;;
}

#p4:checked ~ #fourDollar{
    background-color:#4a0101;;
}


.priceLabel{
    display: inline-block;
    width: 20%;
    text-align: center;
    color: white;
    background-color: #b00b0b;
    padding: 2px;
    border-radius: 5px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.priceRange{
    font-size: x-large;
    display: inline-block;
	border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
	font-family: system-ui;
}

.culinary{
    display: inline-block;
    text-align: left;
    padding-left: 1%;
    background-color: white;
    border: solid;
	border-width: thin;
	border-color: black;
    border-radius: 5px;
    width: 40%;  
    margin-bottom: 10px;
    margin-top: 10px;
	font-family: system-ui;
}

.submitPref{
    background: #b00b0b;
    border: none;
    border-radius: 5px;
    position: relative;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bolder;
    outline: none;
  }
  
 .submitPref:active {
    background: #4a0101;
    color: white;
  }

 @media only screen and (max-width: 585px){
    .culinary{
        display: inline-block;
        text-align: left;
        padding-left: 1%;
        background-color: white;
        border: solid;
        border-width: thin;
        border-color: black;
        border-radius: 5px;
        width: 80%;  
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: system-ui;
    }
 }