#parent_1{
    display: table;
    margin: 0 auto;
    color: white;
}
p{
    font-size: 10px;
}
#signup{
    font-family: "system-ui";
    background-repeat: no-repeat;
}
#login-button {
    background: #b00b0b;
    border: none;
    border-radius: 5px;
    position: relative;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: normal;
    outline: none;
    font-family: system-ui;
  }
  
  #login-button:active {
    background: #4a0101;
    color: white;
  }
  #error-button {
    background: #b00b0b;
    border: none;
    border-radius: 5px;
    position: relative;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: normal;
    outline: none;
    font-family: system-ui;
  }
  
  #error-button:active {
    background: #4a0101;
    color: white;
  }
